body {
    font-family: 'Arial', sans-serif;
    margin: 10px;
    width: 320px; /* Set a fixed width for the body */
    background-color: #f5f5f5; /* Light gray background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft box shadow */
  }
  
  #todoList {
    max-width: 300px;
    margin: auto; /* Center the todo list */
    background-color: #fff; /* White background for the todo list */
    padding: 15px; /* Add some padding */
    border-radius: 8px; /* Rounded corners */
  }
  
  h1 {
    text-align: center;
    color: #333; /* Dark gray text color */
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
    padding: 10px; /* Increase padding */
    border: 1px solid #ddd; /* Light gray border */
    margin-bottom: 10px; /* Increase margin */
    border-radius: 5px; /* Rounded corners */
    display: flex;
    justify-content: space-between; /* Align remove icon to the right */
    align-items: center;
  }
  
 input[type="text"] {
  width: 100%; /* Adjust width to leave space for padding */
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Include padding in the width */
  border: none; /* Remove the border */
  outline: none; /* Remove the outline */
  background-color: #f2f2f2; /* Light gray background */
  border-radius: 5px; /* Rounded corners */

}
  button {
    width: 100%;
    padding: 12px; /* Increase padding */
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Add this style for the remove icon */
  .remove-icon {
    color: #FF6347; /* Tomato color */
    cursor: pointer;
    font-size: 18px; /* Adjust icon size */
  }
  